* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.main-title {
    margin-bottom: 40px;
    font-size: 64px;
    text-align: center;
    color:transparent;
    -webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to right, red, fuchsia)
}
.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    max-width: 80vw;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

    flex-wrap: wrap;
    /* background-color: rgba(18, 15, 15, 0.534); */
}

.card {
    flex-shrink: 0;
    position: relative;
    width: 170px;
    height:170px;

    background-color: rgb(226, 88, 88);
    border: 2px solid black;
    border-radius: 20px;

    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.card.open {
    box-shadow: -4px -5px 15px 2px black;
    -webkit-box-shadow:-4px -5px 15px 2px black;
    -moz-box-shadow: -4px -5px 15px 2px black;
}

.card .front.hiden{
    transform: rotateY(180deg);
}
.card .back.hiden{
    transform: rotateY(360deg);
}

.front,.back{
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    transition: 1s ease-in;
}

.front img {
    width: 100%;
    height:100%;
    display: block;

    object-fit:cover;
    object-position: center;
}

/* .front {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.back {
    transform: rotateY(180deg);
    background: linear-gradient(39deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(120, 120, 120, 0.932);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px auto;

    width: 50%;
    height: 50%;

    background-color: rgba(253, 22, 22, 0.793);
    border-radius: 30px;
}

.modal__title {   
    margin-bottom: 20px;
    font-size: 32px;
    color:#fff;

    line-height: 1.4;
}

.reset-game {
    padding: 20px 40px;
    outline-style: none;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid blue;
    background-color: rgba(63, 82, 200, 0.788);
    color: #fff;
    border-radius: 20px;
}

.hide {
    display: none;
}

@media (max-width:1375px) {
    
}